html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

* {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 1.4rem;
}

html,
body {
	overflow-x: hidden;
	max-width: 100%;
}

.blue {
	color: '#56ccf2';
}
.yellow {
	color: '#f2c94c';
}
.desaturated-yellow {
	color: '#ead38d';
}
.orange {
	color: '#eb5757';
}
.green {
	color: '#27ae60';
}
